<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Create ticket</title>
    </head>
    <body>
        <a th:href="@{/tickets}">Back</a>
        <h1>Edit ticket</h1>
        <form th:action="@{/edit-ticket}" method="post" th:object="${ticket}">
            <input type="hidden" th:field="*{id}" />

            <label>
                Title:
                <input type="text" th:field="*{title}" placeholder="Ticket title" required/>
            </label>

            <br />
            <br />

            <label>
                Description:
                <textarea th:field="*{description}" placeholder="Ticket description" required></textarea>
            </label>

            <br />
            <br />

            <label for="severityLevel">SeverityLevel:</label>
            <select th:field="*{severityLevel}" id="severityLevel" required>
                <option th:each="severityLevel : ${severityLevels}" th:value="${severityLevel}" th:text="${severityLevel.name()}"></option>
            </select>

            <br />
            <br />

            <label for="status">Status:</label>
            <select th:field="*{status}" id="status" required>
                <option th:each="status : ${statusList}" th:value="${status}" th:text="${status.name()}"></option>
            </select>

            <br />
            <br />

            <button type="submit">Save</button>
        </form>

        <form th:action="@{/delete-ticket/{ticketId}(ticketId=${ticket.getId()})}" method="post" style="display:inline;">
            <button type="submit">Delete</button>
        </form>

    </body>
</html>