<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>AuthX Login</title>
    </head>
    <body>
        <h1>Please Log In</h1>
        <form th:action="@{/login}" method="post">
            <div>
                <input type="email" name="email" placeholder="Email" required/>
                <p th:if="${param.emailError}" th:text="${param.emailError}"></p>
            </div>
            <div>
                <input type="password" name="password" placeholder="Password" required/>
                <a th:href="@{/forgot-password}">Forgot password?</a>
                <p th:if="${param.passwordError}" th:text="${param.passwordError}"></p>
            </div>
            <input type="submit" value="Log in" />
        </form>
        <a th:href="@{/register}">Don't have an account yet?</a>
    </body>
</html>