<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Reset Password</title>
    </head>
    <body>
        <h1>Reset password</h1>

        <form th:action="@{/reset-password}" th:object="${resetPasswordRequest}" method="post">

            <p th:if="${#fields.hasGlobalErrors()}" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>

            <input type="hidden" th:field="*{token}" />

            <div>
                <input type="password" th:field="*{newPassword}" placeholder="New password" minlength="8" required />
                <p th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></p>
            </div>

            <button type="submit">Reset password</button>
        </form>
    </body>
</html>